body
{
 background: #646464;
}

#cabecera
{
    color: white;
    text-align: center;
    font-family: Georgia;  
}

#container #gif
{
    width: 500;
    display: block;
    margin: auto;
}

#footer
{
    background-color: black;
    color:white;
    text-align: center;
    align-items: center;

}